<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detecting Melanoma</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">      
</head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Melanoma Detection &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link " href="features.html">Features</a>
            <a class="nav-link active" href="">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Contact</h1>
          <br> 

          <table class="table">
            
              <tr>
                  <th>Prudhviraj B</td>
                  <td>📧 &nbsp<a href="mailto:prudhvirajboddu@gmail.com">prudhvirajboddu@gmail.com</a></td>
                  <td>+91 9618606668</td>
              </tr>

              <tr>
                  <th>Mounika A</td>
                  <td>📧 &nbsp<a href="mailto:mounikaroyal.28@gmail.com">mounikaroyal.28@gmail.com</a></td>
                  <td>+91 9000430673</td>
              </tr>

              <tr>
                  <th>Mallikarjuna Reddy K</td>
                  <td>📧 &nbsp<a href="mailto:kallurumallikarjunareddy9291@gmail.com">kallurumallikarjunareddy9291@gmail.com</a></td>
                  <td>+91 7680849867</td>
              </tr>

              <tr>
                  <th>Sai Krishna S</td>
                  <td>📧 &nbsp<a href="mailto:saikrishna4738@gmail.com">saikrishna4738@gmail.com</a></td>
                  <td>+91 9515903989</td>
              </tr>
          </table>
          
          <br> <br>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Final Year Project, for <a href="http://sietk.org">SIETK</a></p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="jquery-slim.min.js"><\/script>')</script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
  </body>
</html>